
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.panel.generic {
  width: 95%;
  max-width: 1000px;
  height: 85vh;

  background: #f8fafc;
  border-radius: 20px;
  padding: 18px;

  display: flex;
  flex-direction: column;
}


.panel h2 {
  font-size: 20px;
  text-align: center;
}

.panel p {
  font-size: 13px;
  text-align: center;
  color: #64748b;
  margin-bottom: 12px;
}

.game-layout {
  flex: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 12px;
  min-height: 0;
}


.items {
  background: #e2e8f0;
  border-radius: 16px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
}


.card {
  background: white;
  border-radius: 14px;
  width: 100%;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  cursor: grab;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.card.text-only {
  height: auto;
}


.card.with-image {
  flex-direction: column;
  height: 90px;
  justify-content: center;
}

.card.with-image img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}


.card p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  line-height: 1.3;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}


.drop-zone {
  background: #f1f5f9;
  border-radius: 16px;
  padding: 8px;

  height: 130px;
  overflow-y: auto;

  border: 2px dashed #cbd5e1;
}


.drop-zone h3 {
  font-size: 12px;
  text-align: center;
}


.drop-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  justify-items: center;
}


.card.small {
  width: 65px;
  height: auto;
  padding: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card.small {
  height: auto;
  padding: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
}


.card.small.text-only {
  width: 110px;      
  min-height: 55px;
  padding: 8px;

  text-align: center;
}

.card.small.with-image {
  width: 65px;
  height: 75px;
}

.card.small.with-image img {
  width: 100%;
  height: 40px;
  object-fit: contain;
}


.card.small p {
  font-size: 9px;
  margin: 0;
  line-height: 1.2;
}

.btn {
  margin-top: auto;
  padding: 10px;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  border: none;
}